/*=========================================
  HERO RESPONSIVE
=========================================*/

@media (max-width:768px){

.hero{

padding-top:120px;

}

.hero-title{

font-size:2.5rem;

}

.hero-description{

font-size:1rem;

}

.hero-features{

flex-direction:column;

align-items:center;

}

.hero-image img{

max-width:100%;

}

}

@media (max-width:768px){

.choose-grid{

grid-template-columns:1fr;

}

.section-title{

font-size:2rem;

}

.choose-card{

padding:30px;

}

}